<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <h1 style="color: green; font-size: 35px; padding: 10px;">Oops 404!</h1>
            <div style="color: green; font-size: 25px; ">The page your trying to reach does not exist!</div>
    </body>

</html>