<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start node</title>
</head>

<body>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
    <h1 style="color: red; font-size: 35px; padding: 10px;">We are doing nodeJs right now!</h1>
    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque qui veritatis ex quam accusamus repellendus ut
        nesciunt consequatur mollitia aliquam? Similique autem explicabo, placeat esse voluptates eaque fugiat, iste et
        minus ipsa accusamus. Facere distinctio officiis saepe possimus, ducimus vero minus ipsum est deserunt
        molestias, reprehenderit dicta! Nisi placeat aliquam commodi quibusdam voluptates vel asperiores mollitia libero
        ducimus ipsa soluta, suscipit minus omnis nihil ab fugiat magni facere reprehenderit qui adipisci cumque eius
        quisquam! Possimus qui aliquam amet a? Quam pariatur, provident dolor perferendis, ratione modi, hic natus vel
        autem similique nulla officiis quidem voluptatibus sapiente minus asperiores consequatur sint fuga id
        accusantium aliquid. Molestias pariatur animi incidunt eius accusamus earum nihil dolor soluta, dignissimos
        officia unde cupiditate a perferendis aliquid dolores quos culpa? Eligendi odio illum unde a natus provident
        fuga quas voluptas aut numquam ad iure quidem, sunt ipsum temporibus dolore inventore dolorum excepturi? Eos
        ullam labore dicta suscipit iure expedita cupiditate sapiente esse quisquam magnam dolorem sit consequuntur
        impedit sunt animi consequatur pariatur, enim ipsam ducimus! Voluptatum atque autem nulla reprehenderit at quas
        cum asperiores pariatur iusto, dignissimos, aut ad, cupiditate consectetur accusantium excepturi veniam! Quo
        aspernatur deserunt dicta sit magni repellendus quia labore amet. Totam enim, earum tenetur dicta dignissimos
        nesciunt, alias corrupti consequatur rem molestiae laboriosam magnam dolores ea soluta sequi sit dolorum
        eveniet. Earum fuga voluptate nulla corporis, adipisci ullam eius quaerat iste tempore rerum consequatur saepe
        totam consequuntur nostrum amet pariatur accusantium, cupiditate veniam unde neque eligendi laudantium debitis?
        Fuga possimus nostrum quaerat reprehenderit quia, ipsam sit amet assumenda nulla, dolor repellendus eum ipsa
        tenetur et ut. Recusandae, animi, saepe maiores nam odit minus inventore similique, quibusdam eveniet quasi in
        tempore ea praesentium magnam laboriosam nihil? Odio eius ducimus quibusdam sint accusantium assumenda, iste
        aperiam eveniet voluptatem consequuntur quam libero, ipsam earum aut!</div>
</body>

</html>